.trynav {
    border : solid 1px #FF52C1;
    color : #FF52C1;   
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
.subTitle{
    font-size: 16px;
    color: #8E8F93;
    width: 40%;
    text-align: center;
}

@media (max-width: 768px) {
    .subTitle{
        width: 90%;
    }
    
    .image1 {
        width: 40%;
        
    }

    .image2 {
        margin-top: -165%;    
    }

    .list {
        margin-top: 45%;    
    }
}

h2{
    font-size: 20px;
    font-weight: bold;
}

.sideWords p {
    font-size: 14px;
    font-weight: 400;
    color: #8E8F93;
}


.trynav2 {
    background-image: linear-gradient(#FF82C1, #FF52C1) !important;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-radius: 10px !important;
}

.image1 {
    width:100%;
    display: block;    
    margin-bottom: 100px;    
}

.row {
    margin-left: 30px;
    
}

.image2 {
    margin-left: 30px;
    
}