.trynav {
    border : solid 1px #FF52C1;
    color : #FF52C1;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
.subTitle{
    font-size: 16px;
    color: #8E8F93;
    width: 40%;
    text-align: center;
}

@media (max-width: 768px) {
    .subTitle{
        width: 90%;
    }
}

.img2{
    background-attachment: src=;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

.sideWords p {
    font-size: 14px;
    font-weight: 400;
    color: #8E8F93;
}


.trynav2 {
    background-color: #FF52C1;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;  

   
}

.image1 {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}